In [1]:
#craeting a tuple 
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst =list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
number= tuple([1, 2, 3, 4, 5])
print(number)

(1, 2, 3, 4, 5)

In [9]:
list=((1,2,3,4,5,6,7,8,9))
print(list)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [10]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [11]:
#Accessing Tuple Elements
number

(1, 2, 3, 4, 5)

In [14]:
print(number[2])
print(number[-1])

3
5

In [15]:
number[0:4]

(1, 2, 3, 4)

In [17]:
number[::-1]

(5, 4, 3, 2, 1)

In [ ]:
#tuple operations
#concatination
concatination_tuple= number + mixed_tuple
print(concatination_tuple)

(1, 2, 3, 4, 5, 1, 'Hello', 3.14, True)

In [22]:
mixed_tuple *3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [27]:
#Immutable Nature of Tuples
# Tuples are immutable, meaning their elements cannot be changed once assigned.
lst = [1, 2, 3, 4, 5]
print(lst)
lst[0] = 10
print(lst)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [30]:
number[1] = 20

TypeError: 'tuple' object does not support item assignment

In [31]:
#tuple methods
print(number.count(2))  # Count occurrences of an element
print(number.index(3))  # Find the index of an element

1
2